.button {
    border:solid 1px var(--gray);
    background: none;
    cursor: pointer;
    font-family: var(--base-font);
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--base-color);
    text-decoration: none;
    text-align: center;
    display: block;
    width: 110px;
    padding: 15px;
    letter-spacing: 0.05em;
}